{
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "parser": "babel-eslint",
  "rules": {
    /* тут пишите правила,
     * так же при использовании конфигов,
     *  вам скорей всего захочется какие-то
     * правила, используемые в них, отключить,
     * это можно сделать тут
     */
    "react/prop-types": 0,
    "react/destructuring-assignment": 0,
    "no-shadow": 0,
    "react/state-in-constructor": 0
  }
}
